// begin::Main
include ../partials/_header-mobile
.d-flex.flex-column.flex-root
  // begin::Page
  .d-flex.flex-row.flex-column-fluid.page
    // begin::Wrapper
    .d-flex.flex-column.flex-row-fluid.wrapper(id="kt_wrapper")
      include ./_header
      // begin::Content
      .content.d-flex.flex-column.flex-column-fluid(id="kt_content")
        include ../partials/_subheader
        // Content area here
        block content
      // end::Content
      // [html-partial:include:{"file":"partials/_footer/compact.html"}]/
      include ./_footer
    // end::Wrapper
  // end::Page
// end::Main
