extends ../layout/main

block variables
  - var page = 'cart';
  - var title = '購物車';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block style
  style.
    input:checked ~ .card{
      border: 2px solid #6993FF !important;
    }

block content
  // begin::Container
  #kt_content_container.container-xxl
    // begin::Table
    .card.card-custom.mt-6.mt-xl-9
      .card-body
        .row
          .col-6.col-lg-3
            label(for="product1")
              input#product1(type='checkbox')
              .card.gutter-b.card-stretch.border-2.border-transparent
                .card-body.d-flex.flex-column.rounded.bg-light.justify-content-between
                  .text-center.rounded.mb-7
                    img.mw-100.w-200px(src='assets/media/products/15.png')
                  div
                    h4.font-size-h5
                      span.text-dark-75.font-weight-bolder Bose Headphones 700
                    .font-size-h6.text-muted.font-weight-bolder $370.00
          .col-6.col-lg-3
            label(for="product2")
              input#product2(type='checkbox')
              .card.gutter-b.card-stretch.border-2.border-transparent.bor
                .card-body.d-flex.flex-column.rounded.bg-light.justify-content-between
                  .text-center.rounded.mb-7
                    img.mw-100.w-200px(src='assets/media/products/15.png')
                  div
                    h4.font-size-h5
                      span.text-dark-75.font-weight-bolder Bose Headphones 700
                    .font-size-h6.text-muted.font-weight-bolder $370.00
