extends ../layout/main

block variables
  - var page = 'member_management'
  - var title = '會員管理';
  - var description = 'The most advanced Bootstrap Admin Theme on Themeforest trusted by 94,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue &amp; Laravel versions. Grab your copy now and get life-time updates for free.';
  - var pageClass = 'index-page';
block style
  // begin::Page Vendor Stylesheets(used by this page)
  link(href='assets/plugins/custom/datatables/datatables.bundle.css', rel='stylesheet', type='text/css')
  // end::Page Vendor Stylesheets

block content
  // begin::Container
  #kt_content_container.container-xxl

    // begin::Table
    .card.card-custom.mt-6.mt-xl-9
      // begin::Card header
      .card-header.mt-5.border-0
        // begin::Card title
        .card-title
          h3.fw-bolder.mb-1 #{title}
          //- .fs-6.text-gray-400 Total $260,300 sepnt so far
        // begin::Card title
        .card-toolbar
          a.btn.btn-primary.font-weight-bolder(data-toggle="modal", data-target="#add-member")
            span.svg-icon.svg-icon-md
              svg(xmlns='http://www.w3.org/2000/svg', xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  rect(x='0', y='0', width='24', height='24')
                  circle(fill='#000000', opacity='0.3', cx='12', cy='12', r='10')
                  path(d='M11,11 L11,7 C11,6.44771525 11.4477153,6 12,6 C12.5522847,6 13,6.44771525 13,7 L13,11 L17,11 C17.5522847,11 18,11.4477153 18,12 C18,12.5522847 17.5522847,13 17,13 L13,13 L13,17 C13,17.5522847 12.5522847,18 12,18 C11.4477153,18 11,17.5522847 11,17 L11,13 L7,13 C6.44771525,13 6,12.5522847 6,12 C6,11.4477153 6.44771525,11 7,11 L11,11 Z', fill='#000000')
            | 新增會員

      // end::Card header
      // begin::Card body
      .card-body.pt-0
        .mb-7
          .row.align-items-center
            .col
              .row
                .col-3
                  .input-icon
                    input.form-control.form-control-solid(type='text', placeholder='姓名', name='name')
                    span
                      i.flaticon2-search-1.text-muted
                .col-3
                  .input-icon
                    input.form-control.form-control-solid(type='text', placeholder='電話', name='name')
                    span
                      i.flaticon2-search-1.text-muted
            .col-auto
              button.btn.btn-sm.btn-primary(type="button") 搜尋
        // begin::Table container
        .table-responsive
          // begin::Table
          table.table.table-row-dashed.table-row-gray-300.gy-7
            thead
              tr.fw-bolder.fs-6.text-gray-800
                th #
                th 姓名
                th 編號
                th 電話
                th 
            tbody
              tr
                td 1
                td 王小明
                td abcd
                td 0912345678
                td.text-right
                  button.btn.btn-sm.btn-primary(type="button" data-toggle="modal" data-target="#edit-member") 編輯
                  button.btn.btn-sm.btn-danger(type="button" data-toggle="modal" data-target="#kt_modal_add_customer") 封存
              tr
                td 2
                td 陳小春
                td test
                td 0912345678
                td.text-right
                  button.btn.btn-sm.btn-primary(type="button") 編輯
                  button.btn.btn-sm.btn-danger(type="button") 封存
          // end::Table
        // end::Table container
      // end::Card body
    // end::Card
    // begin::Modal - member-Add
    .modal.fade#add-member(data-backdrop='static', tabindex='-1', role='dialog', aria-labelledby='staticBackdrop', aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5.modal-title#exampleModalLabel 新增會員
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              i.ki.ki-close(aria-hidden='true')
          .modal-body
            .form-group
              label
                | 姓名
                span.text-danger *
              input.form-control(type='text')
            .form-group
              label
                | 電話
                span.text-danger *
              input.form-control(type='text')
            .form-group
              label
                | 帳號
                span.text-danger *
              input.form-control(type='text')
            .form-group
              label
                | 密碼
                span.text-danger *
              input.form-control(type='text')
            .form-group
              label
                | 輸入otp
                span.text-danger *
              input.form-control(type='text')
          .modal-footer
            button.btn.btn-light-primary.font-weight-bold(type='button', data-dismiss='modal') 取消
            button.btn.btn-primary.font-weight-bold(type='button') 發送otp
            button.btn.btn-primary.font-weight-bold(type='button') 確定新增
    // end::Modal - Customers - Add
  // end::Container


block script
  // begin::Page Custom Javascript(used by this page)
  script(src='assets/js/custom/modals/users-search.js')
  script(src='assets/js/custom/modals/new-target.js')
  script(src='assets/js/custom/widgets.js')
  script(src='assets/js/custom/apps/chat/chat.js')
  script(src='assets/js/custom/modals/create-app.js')
  script(src='assets/js/custom/modals/upgrade-plan.js')
  // end::Page Custom Javascript