// begin::Nav
ul.navi.navi-hover.py-4
  // begin::Item
  li.navi-item
    a.navi-link(href='#')
      span.symbol.symbol-20.mr-3
        img(src='assets/media/svg/flags/226-united-states.svg', alt)
      span.navi-text English
  // end::Item
  // begin::Item
  li.navi-item.active
    a.navi-link(href='#')
      span.symbol.symbol-20.mr-3
        img(src='assets/media/svg/flags/128-spain.svg', alt)
      span.navi-text Spanish
  // end::Item
  // begin::Item
  li.navi-item
    a.navi-link(href='#')
      span.symbol.symbol-20.mr-3
        img(src='assets/media/svg/flags/162-germany.svg', alt)
      span.navi-text German
  // end::Item
  // begin::Item
  li.navi-item
    a.navi-link(href='#')
      span.symbol.symbol-20.mr-3
        img(src='assets/media/svg/flags/063-japan.svg', alt)
      span.navi-text Japanese
  // end::Item
  // begin::Item
  li.navi-item
    a.navi-link(href='#')
      span.symbol.symbol-20.mr-3
        img(src='assets/media/svg/flags/195-france.svg', alt)
      span.navi-text French
  // end::Item
// end::Nav