// begin::Nav
ul.navi.navi-hover.py-4
  // begin::Item
  li.navi-item
    a.navi-link(href='/member.html')
      span.navi-text 會員資料
  li.navi-item
    a.navi-link(href='#')
      span.navi-text 登入
  // end::Item
// end::Nav